@import '../../global.scss';

.main-title {
  h1 {
    font-size: 6rem;
    font-weight: 800;
  }

  .gradient-title {
    background: linear-gradient(0deg, #8e90cb 0%, #ffffff 75%, #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: $breakpoint-xl) {
    h1 {
      font-size: 4.5rem;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    h1 {
      font-size: 3.5rem;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    h1 {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    h1 {
      font-size: 2rem;
    }
  }
}
