.main-title {
  h1 {
    font-size: 6rem;
    font-weight: 800;
    color: white;
  }

  .gradient-title {
    background: linear-gradient(0deg, #8e90cb 0%, #ffffff 75%, #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
