@import '../../global.scss';

.experiences {
  position: relative;

  .content {
    padding: 20px var(--margin) 40px;

    @media screen and (max-width: $breakpoint-xl) {
      padding: 40px var(--margin-xl) 40px;
    }

    @media screen and (max-width: $breakpoint-lg) {
      padding: 40px var(--margin-lg) 40px;
    }

    @media screen and (max-width: $breakpoint-sm) {
      padding: 40px var(--margin-sm) 40px;
    }
  }

  .experiences-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .curved-end {
    width: 100%;
    position: absolute;
    bottom: 2px;
    transform: translateY(100%);
    z-index: 1000;
  }
}
