@import '../../global.scss';

.main {
  background-image: url('/src/assets/img/main-bg.png');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

  height: 100vh;
  padding: 40px var(--margin) 0;
  position: relative;

  .description {
    color: white;
    font-size: 1.5rem;
    font-weight: 200;

    text-align: center;
    max-width: 900px;
    margin: 0 auto;

    line-height: 1.5;
  }

  .hero {
    margin-top: max(calc(50vh - 200px), 250px);

    text-align: center;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: $breakpoint-xl) {
    padding: 40px var(--margin-xl) 0;

    .description {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    padding: 40px var(--margin-lg) 0;
    .description {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 40px var(--margin-sm) 0;
  }
}
