@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$main-bg-color: #05071c;
$main-up-bg-color: #15162c;
$primary-color: #914ff5;
$green: #05fb4f;
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Inter', sans-serif;

$margin: 150px;
$margin-sm: 30px;
$margin-lg: 50px;
$margin-xl: 100px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1366px;

:root {
  --main-bg-color: #{$main-bg-color};
  --main-up-bg-color: #{$main-up-bg-color};
  --primary-color: #{$primary-color};
  --green: #{$green};
  --main-font: #{$main-font};

  --margin: #{$margin};
  --margin-sm: #{$margin-sm};
  --margin-lg: #{$margin-lg};
  --margin-xl: #{$margin-xl};

  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-xl: #{$breakpoint-xl};
}

$green: #05fb4f;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font), sans-serif;
  color: white;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
  text-decoration-thickness: 0;
  line-height: 0;
}
